---
---
<nav class="nav">
  <a class="brand" href="/">Stone Branches</a>
  <ul>
    <li><a href="/families/">Families</a></li>
    <li><a href="/photos/">Photos</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
</nav>
